.App {
  font-family: sans-serif;
  text-align: center;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  table {
    margin-left: 5%;
  }
  #calendar {
    margin-top: 3%;
    margin-left: 5%;
  }
}

/* Adjustments for medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  table {
    margin-left: 10%;
  }
  #calendar {
    margin-top: 5%;
    margin-left: 10%;
  }
}

/* Adjustments for large screens */
@media (min-width: 1025px) {
  table {
    margin-left: 15%;
  }
  #calendar {
    margin-top: 7%;
    margin-left: 12%;
  }
}
